/* .App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: gray;
  
}
.name-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
} */

/* Sayfanın tamamını gri yap */
body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Tüm içeriği saran kutu */
.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}
.searchInput {
  width: 70%;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; 
}

li {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}
